/*LOGIN*/
#login{
	font-size: 20px;
	left: 28%;
	top: 20%;
	padding: 5%;
	padding-top: 2%;
	width: 500px;
	height: 350px;
	position: absolute;
	border: 1px solid gray;
	background-color: white;
}

#login p{
	font-size: 30px;
	font-family: sans-serif;
	color: #b3e6ff;
	padding-left: 20%;
	font-weight: bold;
	text-shadow: 2px 2px 2px gray;
}

.data{
	float: right;
	width: 70%;
}

#login .log{
	float: right;
}

.but{
	border-radius: 10px;	
	background-color:  #b3e6ff;
	font-size: 15px;
	padding: 1%;
	margin: 1%;
}

.but:hover{
	cursor:pointer;
}